@font-face {
   font-family: "BravoRG";
   src: local("BravoRG"), url("../fonts/bravorg.woff2") format("woff2"), url("../fonts/bravorg.woff") format("woff"),
      url("../fonts/bravorg.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
